nav {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 3.5rem;
    display: flex;
    box-shadow: 1px 1px 5px 0px #1a1a1a4b;
}

nav .left{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .right{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type='button']{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    background-color: white;
    height: 65%;
    width: 8rem;
    border: 2px #41B2A2 solid;
    color: #41B2A2;
    cursor: pointer;
    transition: 0.2s; 
}

input[type='button']:hover {
    background-color: #41B2A2;
    border: 2px #41B2A2 solid;
    color: #ffffff;
}

nav img {
    width: 2.5rem;
}
nav h2 {
    font-size:large;
}
nav a {
    text-decoration: none;
    margin-left: 2rem;
    color: #1A1A1A;
    font-size: small;
    position: relative; /* Necesario para el pseudo-elemento */
}

nav a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #41B2A2;
    bottom: -15px;
    left: 0;
    transition: width 0.2s ease-in-out; /* Transición suave */
}

nav a:hover::after {
    width: 100%; /* Expande la línea completa en hover */
}
body {
    margin: 0;
}