
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 90%;
}

.icon-cell {
    width: 1%; /* Ancho mínimo para la columna de iconos */
    white-space: nowrap; /* Evita que el contenido se envuelva */
}
th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}
th {
    background-color: #007bff;
    color: white;
}


.icon {
    color: rgb(54, 54, 54); 
    margin: 5px; 
    text-decoration: none; 
}
.icon:hover {
    color: gray; 
}