*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}

body{
    position: relative;
    min-height: 100vh ;
    width: 100%;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 240px;
    background: #F8F4F4;
    padding: 6px 14px;
}

.sidebar .logo_content .logo{
    color: #020101;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
}

.logo_content .logo i{
    font-size: 28px;
    margin-right: 5px;
}

.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
}

.sidebar #btn{
    position: absolute;
    color: #140d0d;
    left: 90%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar ul{
    margin-top: 20px;
}

.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100% ;
    margin: 0 5px ;
    list-style: none;
    line-height: 50px;
}

.sidebar ul li .tooltip{
    position: absolute;
    left: 122px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background: #fff;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
}

.sidebar ul li:hover .tooltip{
    transition: all 0.5s ease;
    opacity: 1;
    top: 50%;
}

.sidebar ul li input{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: #dddddd;
    padding-left: 50px;
    font-size: 16px;
    color: #000000;
}

.sidebar ul li .bx-search{
    position: relative;
    z-index: 99;
    color: #fff;
    font-size: 22px;
}

.sidebar ul li a{
    color: #1A1A1A;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
}
.sidebar ul li a:hover{
    color: #050807;
    background: #41B2A2;

}

.sidebar ul li a i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar .profile_content{
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}

.sidebar .profile_content .profile{
    position: relative;
    padding: 4px 6px;
    height: 55px;
    background: #cfcfcf;
}

.sidebar .profile_content .profile .profile_details{
    display: flex;
    align-items: center;
}

.profile .profile_details img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}

.profile .profile_details .name_job{
    margin-left: 10px;
}

.profile .profile_details .name{
    font-size: 15px;
    font-weight: 400;
}

.profile .profile_details .job{
    font-size: 12px;
}

.profile #log_out{
    position: absolute;
    left: 88%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
}

.home_content{
    position: absolute;
    height: 100%;
    width: calc(100% - 240px);
    left: 240px;
}

.home_content .text{
    font-size: 25px;
    font-weight: 500;
    color: #160404;
    margin: 12px;
}

.filters-table{
    width: 80%;
    margin: 20px auto;
    padding: 20px;
}

.filters-table h1{
    text-align: left;
}

.filters-table label{
    margin-left: 8px;

}
.filters-table input{
    margin: 8px;
}

.table-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    justify-content: baseline;

}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 80%;
    border-collapse: collapse;
}

thead {
    background-color: #0CA789;
    color: #fff;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}



tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #eaeaea;
}

.details-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.details-button:hover {
    background-color: #0056b3;
}

.form-container-notification{
    width: 600px;
    margin: 0 auto;
    background-color: #0CA789;
    padding: 32px;
    border-radius: 8px;
    border: black solid 2px;
}
.form-container-notification form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-form-notification{
    height: 30px;
    width: 400px;
}


.form-container-notification .image-form-notification{
    height: 200px;
    width: 400px;
    border: #000000 solid 2px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #41B2A2;
}

.form-container-notification textarea{
    width: 400px;
    height: 150px;
    margin-top: 20px;
}

.footer-form-notification{
    display: flex;
    margin-top: 20px;
}

.buttons-form-notification{
    margin-left: 60px;
}